{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}Barcha Uchrashuvlar{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_hading %}
Bizni ajoyib uchrashuvlar kutmoqda!
{% endblock %}

{% block header_content %}
O'zingizga foydali uchrashuvni toping!
{% endblock %}

{% block body %}
	<main>
		<section>
			<h2>Upcoming Meetups</h2>
		<ol>
			{% for meetups_item in meetups %}
				<!-- {{ meetup_item }} -->
				{% include 'meetups/includes/meetup-item.html' with title=meetup_item.title slug=meetups_item.slug %}
			{% endfor %}
		</ol>
		</section>
	</main>
{% endblock %}