{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}Barcha Uchrashuvlar{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_hading %}
Bizni ajoyib uchrashuvlar kutmoqda!
{% endblock %}

{% block header_content %}
O'zingizga foydali uchrashuvni toping!
{% endblock %}

{% block body %}
	<main>
		<section>
			<h2>Upcoming Meetups</h2>
		<ol>
			{% for meetups_item in meetups %}
			<li class="meetup-item">
				<article>
					<div class="meetup-summary">
						<div class="meetup-image">
							<img src="" alt="">
						</div>
						<div>
							<h3>{{ meetups_item.title }}</h3>
							<address>{{ meetups_item.address }}</address>
						</div>
					</div>
					<div class="meetup-actions">
						<a href="/meetups/{{ meetups_item.slug }}" class="btn">More Details</a>

					</div>
				</article>
			</li>
			{% endfor %}
		</ol>
		</section>
	</main>
{% endblock %}