{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Meetups</title>
	<link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}"> -->
	<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
</head>
<body>
	<header>
		<nav><a href="/meetups" id="main-logo">Django Uchrashuvlari</a></nav>
		<h1>Bizni ajoyib uchrashuvlar kutmoqda!</h1>
		<p>O'zingizga foydali uchrashuvni toping!</p>
	</header>
	<main>
		<h2>Upcoming Meetups</h2>
		<ol>
			{% for meetups_item in meetups %}
			<li class="meetup-item">
				<article>
					<div class="meetup-summary">
						<div class="meetup-image">
							<img src="" alt="">
						</div>
						<div>
							<h3>{{ meetups_item.title }}</h3>
							<address>{{ meetups_item.address }}</address>
						</div>
					</div>
					<div class="meetup-actions">
						<a href="" class="btn">More Details</a>

					</div>
				</article>
			</li>
			{% endfor %}
		</ol>
	</main>
</body>
</html>